/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}
.push50{
margin-top:50px;
}
.filter {
cursor:pointer;
}
/*Vegas CSS for Slideshow*/
.vegas-loading {
	border-radius: 10px;
	background: #000;
	background: rgba(0,0,0,0.7);
	background: url(../img/loading.gif) no-repeat center center; /* Loading Gif by http://preloaders.net/ */
	height: 32px;
	left: 20px;
	position: fixed;
	top: 20px;
	width: 32px;
	z-index: 0;
}

.vegas-background {
    max-width: none !important; /* counteracts global img modification by twitter bootstrap library */
	z-index: -2;
}
/*Vegas CSS for Slideshow*/

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color:#f1f1f1;
  background:rgba(0, 0, 0, 0.48);
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-family: 'Great Vibes', cursive;
  font-size: 4.5em;
  font-weight: 700;
}

.pink{
  color: #eeb6cc;
}

/* Navbar */
#nav {
margin-bottom:-20px;
}
.navbar {
border-radius:0px !important;
}
.navbar-new {
  background-color: rgba(225, 135, 169, 0.6);
}
.navbar-new .navbar-brand {
  color: #f1f1f1;
}
}
.navbar-new .navbar-text {
  color: #f1f1f1;
}
.navbar-new .navbar-nav > li > a {
  color: #f1f1f1;
}
.navbar-new .navbar-nav > li > a:hover,
.navbar-new .navbar-nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar-new .navbar-toggle {
  border-color: #dddddd;
}
.navbar-new .navbar-toggle:hover,
.navbar-new .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-new .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-new .navbar-collapse,
.navbar-new .navbar-form {
  border-color: #e6e6e6;
}
.navbar-new .navbar-nav > .dropdown > a:hover .caret,
.navbar-new .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-new .navbar-nav > .open > a,
.navbar-new .navbar-nav > .open > a:hover,
.navbar-new .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555555;
}
.navbar-new .navbar-nav > .open > a .caret,
.navbar-new .navbar-nav > .open > a:hover .caret,
.navbar-new .navbar-nav > .open > a:focus .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.navbar-new .navbar-nav > .dropdown > a .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}
@media (max-width: 767px) {
  .navbar-new .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-new .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-new .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-new .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-new .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-new .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .navbar-new .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-new .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-new .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-new .navbar-link {
  color: #777777;
}
.navbar-new .navbar-link:hover {
  color: #333333;
}
/*Navbar */


.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}
.btn-top {
color:#f1f1f1;
background:none repeat scroll 0 0 rgba(0, 0, 0, 0.57);
border-color:#cccccc;
}
.btn-top:hover,
.btn-top:focus,
.btn-top:active,
.btn-top.active {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

/* about us */

.about_us {
  padding: 50px 0;
  background:none repeat scroll 0 0 #F1F1F1;
  border-bottom:1px solid #D1D1D1 !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

/* Services */

.services {
   background: none repeat scroll 0 0 #4D4D4D;
  padding: 50px 0;
  color: #eeeeee;
  width: 100%;
  border-bottom:1px solid #D1D1D1 !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.service-item {
  min-height: 200px;
  margin-bottom: 15px;
  background:#333333;
  padding:10px;
  border:1px solid #D1D1D1 !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.active {
background:#3071A9 !important;
border:1px solid #BBBBBB !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.label {
border-radius:0px !important;
}
label.valid {
  width: 24px;
  height: 24px;
  background: url(../img/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}
.portfolio {
background:#f1f1f1;
}

/*Gallery*/
#gallery{
  text-align: center;
  margin-bottom: 50px;
}

#gallery img{
  padding: 2px;
}

/* Contact */
#contact {
background:none repeat scroll 0 0 rgba(0, 0, 0, 0.79);
color:#f1f1f1;
padding:50px 0;
border-top:1px solid #D1D1D1 !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

/* Footer */

footer {
  padding: 20px 0;
  background:#f1f1f1;
}

/* responsive */
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { .navbar-brand {margin-left:20px;} .navbar-toggle {margin-right:25px;} #Grid .mix{margin-left:-25px;}}